@use "../utils/helpers" as *;

.popup-overlay {
  @include wh(100%);
  @include pos(0, 0, fixed);
  overflow: auto;
  display: none;
  z-index: 1060;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;

  &.is-visible {
    display: block;
    animation: show 0.5s;

    .popup {
      &:before {
        background-color: rgba(254, 254, 254, 0.06);
      }
    }
  }
}

.popup {
  @include before;
  @include pos(0);
  @extend %d-flex-column;
  @extend %d-flex-centered;
  width: 100%;
  min-height: 100vh;
  padding: 16px;

  &:before {
    @include wh(100%);
    @include pos(0);
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease 0.5s;
    background-color: rgba(0, 0, 0, 0);
  }

  &.popup_type_video {
    .popup-close {
      top: 0;
      padding: 8px;
    }

    .popup-wrapper {
      padding: 34px 0 0;
    }

    .popup-container {
      max-width: 100%;
    }

    .popup-content {
      @include offset(0, 0);
      background-color: rgba(0, 0, 0, 0);
    }

    .popup-container {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &.popup_type_plain {
    .popup-wrapper {
      max-width: 436px;
      gap: 8px 0;
      align-items: flex-end;
    }

    .popup-content {
      padding: 0;
    }

    .popup-container {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.popup-wrapper {
  @extend %d-flex-column;
  @include zi(2);
  @include offset(0,24px);
  @include border(1px,#000);
  width: 100%;
  max-width: 720px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.popup-container {
  @include mx(auto);
  width: 100%;
  max-width: 720px;
}

.popup-header {
  @extend %d-flex-column;
  @include pos(0);
  @include wh(100%, 80px);
  padding: 0 16px;
  border-radius: 24px 24px 0 0;
}

.popup-header__container {
  @extend %d-flex-column;
  flex-grow: 1;
  justify-content: flex-end;
}

.popup-content {
  padding: 54px 16px 0;
  flex-grow: 1;
  align-self: stretch;

  .popup-container {
    @include zi(2);
  }
}

.popup-footer {
  padding: 24px 16px 40px;
  border-radius: 0 0 24px 24px;
}

.popup-close {
  @include wh(24px);
  @extend %d-flex-column;
  @extend %d-flex-centered;
  border: 0;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
